{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png'%}">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" href="{% static 'css/dinosaur_game.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">   
    <title>Dinosaur-Game</title>
</head>
<body>
    <a href="https://kiarashbashokian.com" target="_blank">
        <img src="{% static 'img/logo.png'%}" alt="Your Logo" class="logo">
    </a>
    <div class="return-icon" id="returnIcon">
        <img src="{% static 'img/return.svg'%}" alt="svg" class="returnicon" title="Return to home page">
    </div>
    <div id="clock" class="clock">00:00:00</div>
    <div id="particles-js"></div>
    <h1>T-Rex Chrome Dino Game</h1>
    <div class="game"> 
        <div id="score" class="score">Score: 0</div>
        <div class="character dino jump"></div>
        <div class="character cactus"></div>    
    </div>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="{% static 'js/dinosaur_game.js'%}"></script>
</body>
</html>
