{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Hub</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png'%}">
</head>
<body>
    <div id="particles-js"></div>
    <header class="header">
        <div class="header-left">
            <h1 class="logo-text">Game Hub</h1>
            <span class="separator">|</span>
            <p class="developer-info">Developer: Kiarash B</p>
        </div>
        <div class="header-right">
            {% if user.is_authenticated %}
                <div class="user-dropdown">
                    <button class="username-display">Welcome, {{ user.username }}!</button>
                    <div class="user-dropdown-menu">
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
            {% elif request.session.guest_id %}
                <div class="user-dropdown">
                    <button class="username-display">Welcome, Guest!</button>
                    <div class="user-dropdown-menu">
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
            {% else %}
                <a href="#" id="show-login-register" class="link-button">Login / Register</a>
            {% endif %}
        </div>
    </header>

    <main class="main-content">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="game-selection-container" id="game-selection-container">
            <h2>Select a Game</h2>
            <form class="game-form" method="post">
                {% csrf_token %}
                <button type="submit" name="selected_game" value="snake">Snake</button>
                <button type="submit" name="selected_game" value="tic_tac">Tic Tac Toe</button>
                <button type="submit" name="selected_game" value="flappy_bird">Flappy Bird</button>
                <button type="submit" name="selected_game" value="dinosaur">Dinosaur</button>
                <button type="submit" name="selected_game" value="akinator">Akinator</button>
            </form>
            <div class="links-container">
                <a href="{% url 'top_scores' %}" class="link-button">Top Scores</a>
            </div>
        </div>

        <div class="auth-container" id="auth-container" style="display: none;">
            <div class="auth-form-container">
                <div id="login-form" class="auth-form">
                    <h2>Login</h2>
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        {{ login_form.as_p }}
                        <div id="login-username-error" class="error-message" style="display: none;"></div>
                        <div id="login-password-error" class="error-message" style="display: none;"></div>
                        <button type="submit">Login</button>
                    </form>
                    <p>Don't have an account? <a href="#" id="show-register">Register here</a></p>
                </div>
                <div id="register-form" class="auth-form" style="display: none;">
                    <h2>Register</h2>
                    <form method="post" action="{% url 'register' %}">
                        {% csrf_token %}
                        {{ register_form.as_p }}
                        <div id="register-username-error" class="error-message" style="display: none;"></div>
                        <div id="register-email-error" class="error-message" style="display: none;"></div>
                        <div id="register-password-error" class="error-message" style="display: none;"></div>
                        <div id="register-confirm-password-error" class="error-message" style="display: none;"></div>
                        <button type="submit">Register</button>
                    </form>
                    <p>Already have an account? <a href="#" id="show-login">Login here</a></p>
                </div>
            </div>
            <a href="/?guest=true" class="link-button">Play as Guest</a>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>