{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png'%}">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake Game</title>
    <link rel="stylesheet" href="{% static 'css/snake.css' %}">
</head>
<body>
    {% csrf_token %}
    <div id="particles-js"></div>
    <div class="game-container">
        <div class="score-container">
            <p class="player-score">
                <span id="playerName">{{ user.username|default:"Guest" }}</span>
                <span id="score">0</span>
            </p>
        </div>
        <div class="snake-container"></div>
        <div class="fruit apple" data-points="5">🍎</div>
        <div class="fruit apple" data-points="5">🍎</div>
        <div class="fruit apple" data-points="5">🍎</div>
        <div class="fruit apple" data-points="5">🍎</div>
        <div class="fruit banana" data-points="10">🍌</div>
        <div class="fruit banana" data-points="10">🍌</div>
    </div>
    <div class="top-score-container">
        <p>Top Score:</p>
        <ul>
            {% if top_score %}
                <li>
                    {% if top_score.user %}
                        {{ top_score.user.username }}
                    {% elif top_score.guest %}
                        {{ top_score.guest.guest_name }}
                    {% else %}
                        Anonymous
                    {% endif %}
                    - {{ top_score.score }}
                </li>
            {% else %}
                <li>No top score yet.</li>
            {% endif %}
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="{%static 'js/snake.js' %}"></script>
</body>
</html>

