{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png'%}">
    <link rel="stylesheet" href="{% static 'css/top_scores.css' %}">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Scores</title>

</head>
<body>
    <div id="particles-js"></div>
    <div class="header-section">
        <a href="/">
            <img src="{% static 'img/logo.png' %}" alt="Your Logo" class="logo">
        </a>
        <h1 class="page-title">Top Scores</h1>
        <div id="clock" class="clock">00:00:00</div>
    </div>

    <div class="scoreboards-grid">
        <div class="scoreboard" id="scoreboard1">
            <h2>Snake game</h2>
            <ul>
            {% for score in snake_top_scores %}
                <li>
                    {% if score.user %}
                        {{ score.user.username }}
                    {% elif score.guest %}
                        {{ score.guest.guest_name }}
                    {% else %}
                        Anonymous
                    {% endif %}
                    - Score: <span>{{ score.score }}</span>
                </li>
            {% empty %}
                <li>No top score yet.</li>
            {% endfor %}
            </ul>
            <div class="logo-container">
                <img src="{% static 'img/top_score/snakelogo.png' %}" alt="Snake Logo">
            </div>
        </div>

        <div class="scoreboard" id="scoreboard2">
            <h2>Flappy bird</h2>
            <ul>
            {% for score in flappy_top_scores %}
                <li>
                    {% if score.user %}
                        {{ score.user.username }}
                    {% elif score.guest %}
                        {{ score.guest.guest_name }}
                    {% else %}
                        Anonymous
                    {% endif %}
                    - Score: <span>{{ score.score }}</span>
                </li>
            {% empty %}
                <li>No top score yet.</li>
            {% endfor %}
            </ul>
            <div class="logo-container">
                <img src="{% static 'img/top_score/flappylogo.png' %}" alt="Flappy Bird Logo">
            </div>
        </div>

        <div class="scoreboard" id="scoreboard3">
            <h2>Dinosaur game</h2>
            <ul>
            {% for score in dinosaur_top_scores %}
                <li>
                    {% if score.user %}
                        {{ score.user.username }}
                    {% elif score.guest %}
                        {{ score.guest.guest_name }}
                    {% else %}
                        Anonymous
                    {% endif %}
                    - Score: <span>{{ score.score }}</span>
                </li>
            {% empty %}
                <li>No top score yet.</li>
            {% endfor %}
            </ul>
            <div class="logo-container">
                <img src="{% static 'img/top_score/dinologo.png' %}" alt="Dinosaur Game Logo">
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="{% static 'js/top_scores.js' %}"></script>
</body>
</html>
